<%= render partial: 'shared/header' %>

<%= link_to 'Back', edit_gallery_room_path(params[:gallery_id],params[:room_id]) %>

<h2>Edit artwork</h2>

<%= form_with(model: @artwork, url: gallery_room_artwork_path(params[:gallery_id], params[:room_id]),local: true) do |f| %>
  <div>
    <%= f.label :image %><br />
    <%= f.file_field :image, id: 'preview_form' %>
  </div>
  <div id="preview_display"></div>
  <div>
    <%= f.label :caption %><br />
    <%= f.text_area :caption %>
  </div>
  <div>
    <%= f.label :vertical %><br />
    <%= f.text_field :vertical %>
  </div>
  <div>
    <%= f.label :horizontal %><br />
    <%= f.text_field :horizontal %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
