<div class="navbar">
  <div class="nav_left">
    <div class="nav_title link_parent">
      Art Gallery
      <%= link_to '', root_path, class:"link_child" %>
    </div>
  </div>
  <div class="nav_right">
    <div class="nav_menu link_parent">+ New gallery<%= link_to '', new_gallery_path, class:"link_child" %></div>
    <div class="nav_menu link_parent"><%= current_user.name %><%= link_to '', user_path(current_user.id), class:"link_child" %></div>
    <div class="nav_menu link_parent">Sign out<%= link_to '', destroy_user_session_path, method: :delete, class:"link_child" %></div>
  </div>
</div>

<%= link_to 'Back', edit_gallery_room_path(params[:gallery_id],params[:room_id]) %>

<h2>Edit artwork</h2>

<%= form_with(model: @artwork, url: gallery_room_artwork_path(params[:gallery_id], params[:room_id]),local: true) do |f| %>
  <div>
    <%= f.label :image %><br />
    <%= f.file_field :image, id: 'preview_form' %>
  </div>
  <div id="preview_display"></div>
  <div>
    <%= f.label :caption %><br />
    <%= f.text_area :caption %>
  </div>
  <div>
    <%= f.label :vertical %><br />
    <%= f.text_field :vertical %>
  </div>
  <div>
    <%= f.label :horizontal %><br />
    <%= f.text_field :horizontal %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
