<%= render partial: 'shared/header' %>

<div class="back_btn link_parent">
  ← Back
  <%= link_to '', edit_gallery_room_path(params[:gallery_id],params[:room_id]), class: "link_child" %>
</div>

<div class="edit_form_body">
  <div class="edit_form">
    <h2 class="edit_title">New artwork</h2>

    <%= form_with(model: @artwork, url: gallery_room_artworks_path(params[:gallery_id], params[:room_id]),local: true) do |f| %>
      <div>
        <%= f.label :image, class: "edit_label" %><br />
        <%= f.file_field :image, id: 'preview_form', class: "edit_input" %>
      </div>
      <div id="preview_display"></div>
      <div>
        <%= f.label :caption, class: "edit_label" %><br />
        <%= f.text_area :caption, class: "edit_input" %>
      </div>
      <div>
        <%= f.submit "Submit", class: "submit_btn" %>
      </div>
    <% end %>
  </div>
</div>