<%= render partial: 'shared/header' %>

<div class="back_btn link_parent">
  ← Back
  <%= link_to '', gallery_rooms_path(@gallery.id), class: "link_child" %>
</div>

<div class="edit_room_title">Edit room</div>

<div class="edit_room_artworks">Artworks</div>
<div class="artwork_list_area">
  <%= render partial: 'artwork_list', collection: @artworks %>
</div>

<div class="new_artwork_btn link_parent">
  + Add new artworks<%= link_to '', new_gallery_room_artwork_path(@gallery.id, @room.id), class:"link_child" %>
</div>

<div class="edit_room_title">Room preview</div>

<div class="edit_room_message">drag to move</div>

<div class="save_area">
  <%= form_with url: gallery_room_path(@gallery.id, @room.id), method: :put, id: "form" do |form| %>
    <%= form.submit 'done' , id: "position_btn", class: "done_btn" %>
  <% end %>
  <div id="data" data-gallery="<%= @gallery.id %>" data-room="<%= @room.id %>" class="save_message"></div>
</div>

<div class="exhibition_room_back">
  <div class="exhibition_room">
    <%= render partial: 'artwork', collection: @artworks %>
  </div>
</div>
