<%= link_to 'Back', gallery_path(@gallery.id) %>

<h2>Edit room</h2>

<h3>Artworks</h3>
<%= render partial: 'artwork_list', collection: @artworks %>

<div>
  <%= link_to 'Add new artworks', new_gallery_room_artwork_path(@gallery.id, @room.id) %>
</div>

<h3>Room preview</h3>

<%= form_with url: gallery_room_path(@gallery.id, @room.id), method: :put, id: "form" do |form| %>
  <%= form.submit 'done' , id: "position_btn" %>
<% end %>

<div id="data" data-gallery="<%= @gallery.id %>" data-room="<%= @room.id %>" class="save_message"></div>

<div class="exhibition_room">
  <%= render partial: 'artwork', collection: @artworks %>
</div>
