<div class="navbar">
  <div class="nav_left">
    <div class="nav_title link_parent">
      Art Gallery
      <%= link_to '', root_path, class:"link_child" %>
    </div>
  </div>
  <div class="nav_right">
    <div class="nav_menu link_parent">+ New gallery<%= link_to '', new_gallery_path, class:"link_child" %></div>
    <div class="nav_menu link_parent"><%= current_user.name %><%= link_to '', user_path(current_user.id), class:"link_child" %></div>
    <div class="nav_menu link_parent">Sign out<%= link_to '', destroy_user_session_path, method: :delete, class:"link_child" %></div>
  </div>
</div>

<%= link_to 'Back', gallery_path(@gallery.id) %>

<h2>Edit gallery</h2>

<%= form_with(model: @gallery, local: true) do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :top_image %><br />
    <%= f.file_field :top_image, id: 'preview_form' %>
  </div>
  <div id="preview_display"></div>
  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>

<%= link_to 'Edit room', edit_gallery_room_path(@gallery.id, @room.id) %>
