<%= link_to 'Back', gallery_path(@gallery.id) %>

<h2>Edit gallery</h2>

<%= form_with(model: @gallery, local: true) do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :top_image %><br />
    <%= f.file_field :top_image, id: 'gallery_top_image' %>
  </div>
  <div id="top_image_preview"></div>
  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>

<%= link_to 'Edit room', edit_gallery_room_path(@gallery.id) %>
