<%= render partial: 'shared/header' %>

<h2>New gallery</h2>

<%= form_with(model: @gallery, local: true) do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :top_image %><br />
    <%= f.file_field :top_image, id: 'preview_form' %>
  </div>
  <div id="preview_display" ></div>
  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
