<%= link_to 'Top page', root_path %>

<% if @gallery.user_id == current_user.id %>
  <h3><%= link_to 'Edit', edit_gallery_path(@gallery.id) %></h3>
<% end %>

<h2><%= @gallery.title %></h2>
<% if @gallery.top_image.attached? %>
  <div>
    <%= image_tag @gallery.top_image %>
  </div>
<% else %>
  <div>
    <%= image_tag 'no_image.png' %>
  </div>
<% end %>
<div><%= @gallery.description %></div>

<h2><%= link_to '-Enter-', '#' %></h2>