<%= render partial: 'shared/header' %>

<div class="back_btn link_parent">
  ← Back
  <%= link_to '', root_path, class: "link_child" %>
</div>

<div class="show_gallery_top">
  <div class="show_gallery_title"><%= @gallery.title %></div>
  <div class="link_parent">
    by <%= @gallery.user.name %><%= link_to '', user_path(@gallery.user), class: "link_child" %>
  </div>
  <div class="show_gallery_edit_btns">
    <% if user_signed_in? && current_user.id == @gallery.user_id %>
      <div class="edit_btn link_parent">
        Edit<%= link_to '', edit_gallery_path(@gallery.id), class: "link_child" %>
      </div>
      <div class="edit_btn link_parent">
        Delete<%= link_to '', gallery_path(@gallery.id), method: :delete, class: "link_child", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>

<% if @gallery.top_image.attached? %>
  <%= image_tag @gallery.top_image, class: "show_gallery_image" %>
<% else %>
  <%= image_tag 'no_image.png', class: "show_gallery_image" %>
<% end %>
<div class="show_gallery_description"><%= @gallery.description %></div>

<div class="enter_area">
  <div class="enter_btn link_parent">- Enter -<%= link_to '', gallery_rooms_path(@gallery.id), class: "link_child" %></div>
</div>

<div class="tweet_area">
  <div>Share on Twitter</div>
  <div>
    <%= link_to 'Tweet', "http://twitter.com/share?url=#{request.url}&text=#{@gallery.user.name}さんの展示です&hashtags=ArtGallery", class: "twitter-share-button" %>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</div>
